@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins&display=swap');

:root {
    --primary-color: #071013;
    --secondary-color: #344055;
    --accent1-color: #F4FFFD;
    --accent2-color: #107896;
    --accent3-color: #c9f1fc;
    
    --heading-font: "Poppins", cursive;
    --paragraph-font:"Open Sans", sans-serif;

    --nav-background-color: #107896;
    --nav-link-color: #fff;
    --nav-hover-link-color: #071013;
    --nav-hover-background-color: #baff29; 
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    text-align: center;
}

a {
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: 20% auto;
    padding: 4px;
    background-color: var(--nav-background-color);
}

header img {
    margin: 0 2rem;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1px 10px;
    border-radius: 2px;
}

nav a:link, nav a:visited {
    color:var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    background-color: var(--nav-background-color);
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer img {
    width: 20px;
    height: 20px;
}

article {
    position: absolute;
    max-width: 90%;
    left: 5%;
    bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(16, 120, 150, 0.8);
}

p {
    padding: 4px 20px;
}

article p {
    color: #fff;
    font-size: 1em;
}

article img {
	float: right;
    margin: 10px;
}

img {
    border-radius: 5px;
}

form {
    padding: 0 2rem;
    border-radius: 6px;
}
label {
    display: inline-block;
    margin: 0.4rem 0;
}
input[type=text], 
input[type=password], 
input[type=number], 
input[type=email], 
textarea, 
select {
    display: block;
    width: 90%;
    padding: 0.5rem 0.7rem;
    margin-bottom: auto;
    font-size: 1rem;
    background-color: white;
    border: 0.1rem solid var(--accent3-color);
    border-radius: 4px;
    cursor: pointer;
}

input[type=text]:focus, 
input[type=password]:focus, 
input[type=number]:focus, 
input[type=email]:focus, 
textarea:focus, 
select:focus {
    background-color: var(--accent1-color);
    outline: var(--accent2-color);
}

textarea {
    min-height: 5rem;
}

form button {
    display: block;
    margin: 6px auto;
    padding: 0.7rem 2rem;
    background: var(--accent2-color);
    border: var(--accent2-color);
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

figure {
    margin: 0 2px;
}

iframe {
    border: 0;
}


aside {
    border: 1px solid  rgba(201, 241, 252, 0.9);
    border-radius: 0.5rem;
    color: #333;
    position: relative;
    grid-row-end: auto;
    min-height: 400px;
    text-align: center;
    margin-right: 1rem ;
}

table thead {
    background-color: var(--accent2-color);
    color: #fff;
}

th {
    width: 700px;
}

/* Class Selectors */

.grid {
    display: grid;
    grid-template-columns: 65% auto;
}

.container {
    padding: 2rem;
}

.mx-2 {
    margin: 0 2rem;
}

.mx-4 {
    margin: 0 4rem;
}

.my-2 {
    margin: 2rem 0;
}

.my-4 {
    margin: 4rem 0;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 5rem;
}

.card {
    background-color: whitesmoke;
    border: 1px solid  rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    padding: 1rem;
    text-wrap: wrap;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    /* margin: 0 -0.75rem; */
}

.col-25 {
    flex: 0 0 auto;
    width: 20%;
}

.col-75 {
    flex: 0 0 auto;
    width: 70%;
}

.col-50 {
    flex: 0 0 auto;
    width: 45%;
}


.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.d-inline {
    display: inline;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.position-relative {
    position: relative;
}

.hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.home-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 10px;
    left: 35%;
    color: var(--nav-hover-background-color);
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
    padding: 0 5px;
}

.home h1 {
    position: absolute;
    top: 1.5rem;
    left: 5%;
    color: var(--nav-hover-background-color);
    z-index: 2;
    /* background: rgba(0, 0, 0, 0.7); */
    border-radius: 2px;
    padding: 0 5px;
}

.flex-history {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-adventure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: auto; */
}
 
.flex-adventure figcaption {
    text-align: center;
    background-color: #107896;
    color: #fff;
    font: italic smaller sans-serif;
}

.staff-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 250px;
    background-color: var(--accent3-color);
}

main .card{
    background-color: #c9f1fc;
    border: none;
    color: #000;
}

main .card h3{
    color: #107896;
    border: none;
    margin-top: 0;
}

.push.card {
    border: none;
    background-color: var(--accent2-color);
    min-width: 220px;
    min-height: 180px;
}

.testimonial.card {
    border: 2px solid  rgba(201, 241, 252, 0.9);
    background: none;
    max-width: 350px;
    min-height: 200px;
    text-align: center;
    align-content: center;
}

.trips {
    width: 960px;
}

.trip-clear-box {
    width: 480px;
    height: 320px;
    text-wrap: wrap;
    text-align: center;
}

.trip.card {
    border: none;
    border-radius: 0;
    background: var(--accent2-color);
    width: 448px;
    height: 288px;
    text-align: center;
    align-content: center;
    color: #fff;
}

.trip.card h2 {
    color: var(--nav-hover-background-color);
}
.trips img {
    width: 480px;
    border-radius: 0;
    height: 320px;
}

.btn-primary {
    margin: 6px auto;
    padding: 0.7rem 2rem;
    background: var(--accent2-color);
    border: var(--accent2-color);
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}

.btn-secondary {
    margin: 6px auto;
    padding: 0.7rem 2rem;
    background: var(--nav-hover-background-color);
    border: var(--accent2-color);
    border-radius: 8px;
    color: #000;
    cursor: pointer;
}

.newsletter.card {
    border: 2px solid  rgba(201, 241, 252, 0.9);
    background: none;
    width: 800px;
    min-height: 200px;
    text-align: center;
    align-content: center;
}