@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins&display=swap');

:root {
    --primary-color: #071013;
    --secondary-color: #344055;
    --accent1-color: #F4FFFD;
    --accent2-color: #107896;

    --heading-font: "Poppins", cursive;
    --paragraph-font:"Open Sans", sans-serif;

    --nav-background-color: #107896;
    --nav-link-color: #fff;
    --nav-hover-link-color: #071013;
    --nav-hover-background-color: rgb(186, 255, 41); 
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    text-align: center;
}

header {
    display: grid;
    grid-template-columns: 20% auto;
    padding: 4px;
    background-color: var(--nav-background-color);
}

header img {
    margin: 0 2rem;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1px 10px;
    border-radius: 2px;
}

nav a:link, nav a:visited {
    color:var(--nav-link-color)
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer {
    display: flex;
    justify-content: space-around;
}

footer img {
    width: 20px;
    height: 20px;
}


article {
    position: absolute;
    max-width: 90%;
    left: 5%;
    bottom: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(16, 120, 150, 0.8);
}

p {
    padding: 4px 20px;
}

article p {
    color: #fff;
    font-size: 1em;
}

article img {
	float: right;
    margin: 10px;
}

img {
    border-radius: 5px;
}


/* Class Selectors */

.hero {
    position: relative;
}

.hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 10px;
    left: 35%;
    color: var(--nav-hover-background-color);
    z-index: 2;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 2px;
    padding: 0 5px;
}

.flex-history {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grid-adventure {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-auto-rows: auto; */
}
 
.grid-adventure figure {
    margin: 0 2px;
}
 
.grid-adventure figcaption {
    text-align: center;
    background-color: #107896;
    color: #fff;
    font: italic smaller sans-serif;
}




