* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
}

nav {
    background-color: steelblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

h1 {
    color: steelblue;
    border-bottom: solid 0.1rem steelblue;
    padding: 1rem 0;
    margin: 1rem 0;
}
main {
    
    margin: 1rem;
}
main img {
    width: 7rem;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    border-radius: 5%;
    margin: 0px 10px 4px;
    float: right;
}

aside {
    background-color: #eee;
    color: #333;
    position: relative;
    grid-row: 1/2;
}

aside img {
    width: 100%;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 20%;
    left: 35%;
}

p {
    padding: 0;
    margin: 4px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

header, footer, .grid {
    margin: 0 auto;
    max-width: 800px;
    
}

/* Class Selectors */

.grid {
    display: grid;
    align-items: center;
    grid-template-columns: 35% auto;
}

.box {
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
    clear: both;
}


